files:
  /etc/nginx/conf.d/https.conf:
    content: |
      #user  nobody;
      worker_processes  1;

      #error_log  logs/error.log;
      #error_log  logs/error.log  notice;
      #error_log  logs/error.log  info;

      #pid        logs/nginx.pid;


      events {
          worker_connections  1024;
      }


      http {
          include       mime.types;
          default_type  application/octet-stream;

          sendfile        on;

          keepalive_timeout  65;


          server {
              listen 443 ssl;
              server_name  hangin-app-env.eba-hwfj6jrc.us-east-1.elasticbeanstalk.com;

              ssl_certificate      /etc/pki/tls/certs/server.crt;
              ssl_certificate_key  /etc/pki/tls/certs/server.key;

              ssl_session_cache    shared:SSL:1m;
              ssl_session_timeout  5m;

              ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
              ssl_prefer_server_ciphers   on;

          location / {
              proxy_pass http://localhost:3000/;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }

      }

          include servers/*;
      }


  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDxzCCAq+gAwIBAgIUcymdzv03aagaYNXyx1Oo97qe2uowDQYJKoZIhvcNAQEL
      BQAwgYsxCzAJBgNVBAYTAlVTMRMwEQYDVQQIDApOZXcgSmVyc2V5MRAwDgYDVQQH
      DAdQYXNzYWljMRAwDgYDVQQKDAdoYW5naW4nMUMwQQYDVQQDDDpoYW5naW4tYXBw
      LWVudi5lYmEtaHdmajZqcmMudXMtZWFzdC0xLmVsYXN0aWNiZWFuc3RhbGsuY29t
      MB4XDTI0MTAyMzAwNDIwNVoXDTI1MTAyMzAwNDIwNVowgYsxCzAJBgNVBAYTAlVT
      MRMwEQYDVQQIDApOZXcgSmVyc2V5MRAwDgYDVQQHDAdQYXNzYWljMRAwDgYDVQQK
      DAdoYW5naW4nMUMwQQYDVQQDDDpoYW5naW4tYXBwLWVudi5lYmEtaHdmajZqcmMu
      dXMtZWFzdC0xLmVsYXN0aWNiZWFuc3RhbGsuY29tMIIBIjANBgkqhkiG9w0BAQEF
      AAOCAQ8AMIIBCgKCAQEAxzF2ULoklMK9x3kxkLRZWphvrTZnEBGfBb2Pw4HOlIY6
      NdDFLyPf3r1hUYC4fdx67h/7+qa5AMmf63HmOl65qG4S/9xt1boo+Uz05RHeU6Tu
      T1m7xRMaCdQEKQC0wSxLvXATnvjLbjbS357fKQkvMt4xklUACqoSEz+0GggCIEkH
      BgjCK1uhxjQRIELH73cA7d2+AGsdceiuAn11awkNEqaG/5VKzuvSFMCMwOuUo1+l
      wblvA6F872IjGlHeLMJlIhODj5TnHleUQXxP59s6+REqOtOwSyCPAq8PLe2l7i5k
      642n4oB6LwGnee9q0oeNn8dw+AmdXQsv42mzDMOYvQIDAQABoyEwHzAdBgNVHQ4E
      FgQUNa3Px1uHtDFcQsIaVfxewLsZdCMwDQYJKoZIhvcNAQELBQADggEBAItkOktm
      EVqRtITVmq7xn0/EApNJ1AS38IqoxHAlrl1XR3XLpavQDIF0jganKhH9VtmsuRGV
      E44WlFCKDBy5HFxbHT+kCHfnIj/cJojaXXe5g9WHepxjo6cQSGluY47pUVs9YVYV
      U10RrxpYF25CnDrtu0YFPWx4UwKteAdwLRC+L4QN2kkpYe3/pVWMpSONSP86VC5K
      lVW6R5h6avSH2W9AnWkSUnod6S0XqnPz970ml+aTt+2jnDnQ8Fs4d40EGQckwhCr
      v3mxgk7+DvvngmPJ0TXL5uADiXXkS2dx8/EH+YVlu8Awn/ySPedVzSGgdVpkwgn6
      oHDXRUTTlXs4tlA=
      -----END CERTIFICATE-----


container_commands:
  01restart_nginx:
    command: "service nginx restart"